[submodule "tests/shunit2"]
	path = tests/shunit2
	url = https://github.com/kward/shunit2.git
	update = merge
[submodule "async"]
	path = async
	url = https://github.com/mafredri/zsh-async.git
	update = merge
