.announce {
  color: #FFD200 !important;
}
.hashtag {
  color: #035DB8 !important;
}
.mdx-author {
  display: flex;
  font-size: 0.68rem;
}
.mdx-author img {
  height: 2.5rem;
  border-radius: 100%;
}
.mdx-author p {
  margin: 0;
}
.mdx-author p:first-child {
  flex-shrink: 0;
  margin-right: 0.8rem;
}
.mdx-author p > span {
  display: block;
}
