[data-md-color-scheme="default"] {
  --md-primary-fg-color: #221c3e;
  --md-primary-fg-color--light: #a7a4b2;
  --md-primary-fg-color--dark: #1b1632;

  --md-accent-fg-color: #c34435;
  --md-accent-fg-color--light: #db8f86;
  --md-accent-fg-color--dark: #752920;

  --md-typeset-a-color: var(--md-accent-fg-color);
}

[data-md-color-scheme="slate"] {
  --md-hue: 260;

  --md-primary-fg-color: #221c3e;
  --md-primary-fg-color--light: #a7a4b2;
  --md-primary-fg-color--dark: #1b1632;

  --md-accent-fg-color: #c34435;
  --md-accent-fg-color--light: #db8f86;
  --md-accent-fg-color--dark: #752920;

  --md-typeset-a-color: var(--md-accent-fg-color);
}

@font-face {
  font-family: 'FiraCode Nerd Font';
  src: url("/FiraCodeNerd.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


code {
  font-family: 'FiraCode Nerd Font', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  overflow-wrap: break-word;
}
